.containerchild {
  float: left;
  margin-right: 5px;
}

#filter {
  margin-top: 5px;
}

.querycontainer {
  display: block;
}

.querychild {
  display: block;
  text-align: right;
}

.inputContainer input {
  width: 100%;
  box-sizing: border-box;
}

.selectContainer {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

td {
  max-width: 150px;
  padding: 15px;
  overflow: hidden;
}
