.containerchild {
  float: left;
  margin-right: 5px;
}

#filter {
  margin-top: 5px;
}

.querycontainer {
  display: block;
  text-align: right;
}

#globalform {
  display: flex;
  justify-content: space-between;
}

.selectContainer {
  display: flex;
  justify-content: space-between;
}
